# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/
ble-env/
fastapi/
uvicorn/
paho-mqtt/
install/

# Database
*.db
*.sqlite
*.sqlite3

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# IDE
.vscode/
*.code-workspace
.idea/

# OS
.DS_Store
Thumbs.db

# Binaries
*.exe
nssm.exe
